/* Importa una fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    overflow-x: hidden;
    
}

.navbar {
    background-color: #343a40;
    height: auto;
    
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}

/* Estilo para el menú desplegable */
.dropdown-menu {
    display: none; /* Inicialmente oculto */
    position: absolute;
    top: 60px; 
    right: 20px; /* Alineado a la derecha */
    background-color: #343a40;
    border: none;
    z-index: 1000; /* Asegura que el menú flote sobre otros elementos */
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #ffffff;
}

/* Estilo para el botón hamburguesa */
.navbar-toggler {
    outline: none;
}

/* Estilo del Hero Section */
.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #101149;
    color: white;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.5rem;
}

/* Estilo para el botón de la sección Hero */
.hero .btn {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Efecto al pasar el cursor sobre el botón */
.hero .btn:hover {
    transform: scale(1.1); /* Agranda el botón */
    background-color: #343a40; /* Cambia el color de fondo del botón al pasar el cursor */
    color: #000; /* Cambia el color del texto */
}

footer {

    background-color: #343a40;
    height: auto;
    width: 100vw;
    padding-top: 70px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #343a40;
    width: 100vw;
    padding: 20px 0;
    text-align: center;

}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/* Estilo para pantallas pequeñas */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;    
    }

    .hero p {
        font-size: 1.2rem;
    }
}
